* {
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    background-color: white ;
    position: fixed;
    z-index: 100;
}
nav>ul, li{
    list-style: none;
    
}
#dropdown{
    
    display: block ;
    z-index: 1;
}
#main{
    background-image: url("https://images.unsplash.com/photo-1560264357-8d9202250f21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80");
    /* background-repeat: cover; */
    background-size: cover;
    height: 800px;

    
}

#events{
    background-image: url("https://s3.envato.com/files/280006063/526_503_T13A1847.jpg");
    /* margin: 400px; */
    height:400px;
    /* background-repeat: no-repeat; */
    background-size: cover;
}
.h1-space{
    font-size: 5em;
    text-align: center;
    color: gray;
    /* margin-top: 50px; */
    padding-top: 50px;
    
}

#h2-space{
    font-size: 4em;
    text-align: center;
    color: darkgray;
    margin: 50px;
}

.para{
    background: url("https://images.unsplash.com/photo-1516321318423-f06f85e504b3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80")  ;
    background-size: cover;

}
.parainner{
    margin: 1px;
}

/* multimedia */

#multimedia-container{
    text-align: center;
}
#p_container{
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 800px;
}

#box-right{
    
    background-color: lightgrey;
    margin: 50px;
    opacity: 0.6;
    
}
#box-left{
    background-color: lightgrey;
    opacity: 0.6;
    margin: 50px;
   
}

#space{
    height: 50px;
    background-color: #e8f5f0;
}
a{
    margin:10px;
    color: black;
    text-decoration: none;
    
}
#footer {
    display:grid;
    
    background-color: white;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px;
    /* margin: 30px; */
}
.footer box1 {
    width:50%;
    /* text-align:right; */
    margin-left: auto;
    
}
.footer box2 {
    /* width:50%;s */
    text-align:right;
}

