#box {
    width:120px;
    height:120px;
    border: solid black 2px;
}



#lightBulb1 {
    height:118px;
    width:118px;
}
#lightBulb2 {
    height:120px;
    width:120px;
}

#btn {
    margin: 15px;
}

